<p>
  Hello <%= @user.first_name %>,
</p>

You're receiving this email because you requested a password reset for the user <%= @user.email %> 

<%= link_to reset_password_url(@user.forgot_password_token), reset_password_url(@user.forgot_password_token) %>
This Link is valid till <%= @user.forgot_password_expire_at.to_formatted_s(:short) %> .

If you did not request your password to be reset, just ignore this email and your password will continue to stay the same.
