<p>
  Hello <%= @user.first_name %>,
</p>

You're receiving this email because you requested a password reset for the user <%= @user.email %> 

<% #FIXME_AB: Send user the expiry time. 5th aug, 2:40PM -%>
<%= link_to reset_password_url(@user.forgot_password_token), reset_password_url(@user.forgot_password_token) %>
This Link is valid for only <%= CONSTANTS["time_to_reset_password"] %> hours.
