<p>
  Hi <%= @user.name %>,
</p>

Thanks for registering! To confirm your registration click the URL below. <br>

<%= link_to account_activation_url(@user.verification_token), account_activation_url(@user.verification_token) %>