<p>
  Hi <%= @user.first_name %>,
</p>

Thanks for registering! To confirm your registration click the URL below. <br>

<%= link_to account_activation_url(@user.verification_token), account_activation_url(@user.verification_token) %>
This Link is valid till <%= @user.verification_token_expire_at.to_formatted_s(:short)%> .