<% #FIXME_AB: add flash styles from bootstrap -%>
<% if flash[:alert] %>
  <p id="notice"> <%= flash[:alert] %> </p>
<% end %>
<% if flash[:errors] %>
  <p id="notice"> <%= flash[:errors] %> </p>
<% end %>
<% if flash[:notice] %>
  <p id="notice"> <%= flash[:notice] %> </p>
<% end %>