<% if flash[:alert] %>
  <p class = 'alert alert-dismissible alert-success' > <%= flash[:alert] %> </p>
<% end %>
<% if flash[:errors] %>
  <p class = 'alert alert-dismissible alert-danger' > <%= flash[:errors] %> </p>
<% end %>
<% if flash[:notice] %>
  <p class = 'alert alert-dismissible alert-success' > <%= flash[:notice] %> </p>
<% end %>