<div class="page-header col-md-offset-5">
<h2> Live Deals </h2>
</div>  
<hr>
<div class = "row">
<%= render @deals %>
</div>
<div class="page-footer col-md-offset-5">
<%= will_paginate @deals %>
</div>
