<fieldset>
  <div class="form-group row">
    <%= f.label :image, 'Image: ', class: 'col-lg-2 control-label' %>
    <div class="col-lg-4">
      <%= f.file_field :image, class: 'form-control' %>
    </div>
  <%= f.link_to_remove "Remove", class: "btn btn-danger btn-xs" %>
  </div>
</fieldset>