<fieldset>
  <div class="form-group row">
    <%= f.label :image, 'Image: ', class: 'col-lg-2 control-label' %>
    <div class="col-lg-4">
      <% if f.object.image.present? %>
        <%= image_tag f.object.image.url(:thumb) %>
      <% else %>
        <%= f.file_field :image %>
      <% end %>
    </div>
  </div>
  <%= f.link_to_remove "Remove", class: "btn btn-danger btn-xs" %>
</fieldset>