<h1>Listing Deals</h1>
<table class="table table-striped table-hover table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th class = 'text-center'>#</th>
      <th class = 'text-center'>Title</th>
      <th class = 'text-center'>Price</th>
      <th class = 'text-center'>Sold Quantity</th>
      <th class = 'text-center' width = "15%" >Start Time</th>
      <th class = 'text-center' width = "15%">Expire Time</th>
      <th class = 'text-center' width = "25%">Status</th>
      <th class = 'text-center'>Actions</th>
    </tr>
  </thead>
  <%= render @deals %>
</table>

<% content_for :head do %>
  <%= javascript_include_tag 'admin/deals' %>
<% end %>