<div class="col-lg-4 well location-border">
  <ul class="list-unstyled ">
  <b>
    <li> Address : <%= location.address %></li>
    <li> City : <%= location.city %></li>
    <li> Stat : <%= location.state %></li>
    <li> Country : <%= location.country %></li>
    </b>
</ul>
</div>